stages:
  - verify
  - test
  - deploy
  - release

variables:
  BUILD_IMAGE: $ARTIFACTORY_SERVER/sds/sdd-common-ci

include:
  - project: "sds-dev/releases"
    ref: main
    file: "releases.yml"

code-style:
  stage: verify
  tags:
    - docker-exec
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: $BUILD_IMAGE
  before_script:
    - pnpm install
  script:
    - pnpm run lint:check

format-style:
  stage: verify
  tags:
    - docker-exec
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: $BUILD_IMAGE
  before_script:
    - pnpm install
  script:
    - pnpm run format:check

type-check:
  stage: verify
  tags:
    - docker-exec
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: $BUILD_IMAGE
  before_script:
    - pnpm install
  script:
    - pnpm run tsc

unittest:
  stage: test
  tags:
    - docker-exec
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  image: $BUILD_IMAGE
  before_script:
    - pnpm install
  script:
    - pnpm run test:coverage

# Docker image build, scan and push pipeline
1-build-image:
  stage: deploy
  tags:
    - sds
  needs: []
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - if: "$CI_COMMIT_TAG"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: manual
      allow_failure: true
  script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - echo "Building image sd-submit-ui:${IMAGE_TAG}"
    - docker buildx build -t "$ARTIFACTORY_SERVER/sds/sd-submit-ui:${IMAGE_TAG}" -f Dockerfile .

2-scan-image:
  stage: deploy
  tags:
    - sds
  needs:
    - job: 1-build-image
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - if: "$CI_COMMIT_TAG"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      allow_failure: true
  script:
    - jf config import "${JF_CONFIG}"
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - jf docker scan --licenses --extended-table --min-severity=Medium $ARTIFACTORY_SERVER/sds/sd-submit-ui:${IMAGE_TAG}

3-push-image:
  stage: deploy
  tags:
    - sds
  needs:
    - job: 2-scan-image
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
    - if: "$CI_COMMIT_TAG"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      allow_failure: true
  before_script:
    - echo "$ARTIFACTORY_USER_PASSWORD" | sudo docker login --username "$ARTIFACTORY_USER" --password-stdin "$ARTIFACTORY_SERVER"
  script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - echo "Pushing image sd-submit-ui:${IMAGE_TAG}"
    - docker push "$ARTIFACTORY_SERVER/sds/sd-submit-ui:${IMAGE_TAG}"
  after_script:
    - |
      if [ "$CI_PIPELINE_SOURCE" = "merge_request_event" ]; then
        export IMAGE_TAG="$(echo ${ENVIRONMENT:-$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME} | tr '/' '-')"
      elif [ "$CI_COMMIT_TAG" ]; then
        export IMAGE_TAG="$CI_COMMIT_TAG"
      else
        export IMAGE_TAG="$CI_DEFAULT_BRANCH"
      fi
    - docker rmi "$ARTIFACTORY_SERVER/sds/sd-submit-ui:${IMAGE_TAG}" || true

release-job:
  extends: .automated-release
  release:
    description: $(cat release_changes.md)
