name: Unit tests and coverage

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["20"]
    name: Vitest unit tests and coveralls push
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v3
        with:
          version: 8
      - name: Setup node ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies and coveralls
        run: |
          pnpm install coveralls
      - name: Run unit tests and save coverage
        run: CI=true pnpm run test:coverage
      - name: Coveralls
        uses: coverallsapp/github-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          
